# Ansible Managed
#
#################################
# allow-from    If set, only allow these comma separated netmasks to recurse
#
allow-from=127.0.0.0/8, 10.0.0.0/8, 100.64.0.0/10, 169.254.0.0/16, 192.168.0.0/16, 172.16.0.0/12, ::1/128, fc00::/7, fe80::/10, 195.113.155.0/24


{% if pdns_recursor_export_etc_hosts %}
#################################
# export etc hosts
etc-hosts-file=/etc/hosts
export-etc-hosts=on
{% endif %}

local-address={{ [pdns_local_addresses]|flatten|join(',') }}
local-port=53

#################################
# forward-zones-recurse Zones for which we forward queries with recursion bit, comma separated domain=ip pairs
#
forward-zones-recurse=.={{ [pdns_upstream_servers]|flatten|join(';') }}


#################################
# setgid        If set, change group id to this gid for more security
#
setgid={{ pdns_gid }}

#################################
# setuid        If set, change user id to this uid for more security
#
setuid={{ pdns_uid }}
